@using ASP.Server.Controllers
@model CreateBookModel
@{
    ViewData["Title"] = "Add a book";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<style>
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        background-color: #F9F9F9;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #888888;
    }

    .input-group {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    input, textarea, select {
        flex-basis: 85%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    label {
        flex-basis: 10%;
        font-weight: bold;
        margin-right: 10px;
        margin-top: 8px;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
    }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<div class="form-container">
    <h1>Add a book</h1>
    <form asp-controller="Book" asp-action="Create" id="add-book-form">
        @Html.AntiForgeryToken()
        <div class="input-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" required />
        </div>
        <div class="input-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" required/>
        </div>
        <div class="input-group">
            <label asp-for="Price"></label>
            <input asp-for="Price"  required/>
        </div>
        <div class="input-group">
            <label asp-for="Genres" >Genres</label>
            @foreach (var genre in Model.AllGenres)
            {
                <div>
                    <input class="checkBtn" type="checkbox" name="Genres" value="@genre.Id" id="@genre.Id" />
                    <label for="@genre.Id">@genre.Name</label>
                </div>
            }
        </div>
        <input type="submit" value="Add" />
    </form>
</div>
<script>
    // Wait for the DOM to be ready
    $(document).ready(function() {
        // Target the form
        var form = $('#add-book-form');

        // When the form is submitted
        form.on('submit', function(event) {
            // Get all the checkboxes that are checked
            var checked = form.find('input.checkBtn:checked');

            // If no checkboxes are checked
            if (checked.length === 0) {
                // Prevent the form from submitting
                event.preventDefault();
                // Show an error message
                alert('Please select at least one genre.');
            }
        });
    });
</script>
