@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .listeBooks {
        width: 95%;
        margin: 0 auto;
    }

    .book {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
    }
    .book h2 {
        margin: 0;
        font-size: 24px;
    }
    .book p {
        margin: 0;
        font-size: 18px;
    }
    .delete-button {
        background-color: red;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<div class="listeBooks">
    @foreach (var book in Model)
    {
        <div class="book">
            <h2>@book.Title</h2>
            <p>Auteur: @book.Author</p>
            <p>Prix: @book.Price.ToString("0.00") €</p>
            <p>Genres: @string.Join(", ", book.Genres.Select(g => g.Name))</p>
            <form method="post" action="@Url.Action("Delete", "Book", new { id = book.Id })">
                <button type="submit" class="delete-button">Supprimer</button>
            </form>
        </div>
    }
</div>